regression_type|env1_url(ppe)|env2_url(prod)|env1_params|env2_params|input_file|input_file_columns
gsm|https://apex.pt.interactivedata.com/apex/ws/v1?entities=|https://apex.interactivedata.com/apex/ws/v1?entities=|indent=true|indent=true|gsm_input.txt|entity_type:entity
cep|https://apex.pt.interactivedata.com/apex/ws/v1/cephist?entity=|https://apex.interactivedata.com/apex/ws/v1/cephist?entity=|indent=true|indent=true|cep_input.txt|entity_type:entity:time
gpm|https://apex.pt.interactivedata.com/apex/ws/v1/?entities=|https://apex.interactivedata.com/apex/ws/v1/?entities=|items=instrument_id,price_master&indent=true|items=instrument_id,price_master&indent=true|gpm_input.txt|entity_type:entity
